body {
    margin: 0;
    text-align: center;
}

h3{
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #1B244A;
    color: white;
}

.score {
    background: black;
    font-size: 90px;
    width: 160px;
    margin: 20px;
}

.btn {
    border: 2px solid white;
    border-radius: 4px;
    color: white;   
    background: transparent; 
    margin: 0 8px 20px 8px;
    padding: 10px;
}

.btn:hover{
    background: darkcyan;
    cursor: pointer;
}

#restart{
    margin-top: 10px;
}

#restart:hover{
    background: darkred;
}